<div class="container mt-5">
    <div class="container">
        <a class="navbarTech" href="#">TECH </a>
        <a class="navbarProduct" href="#"> PRODUCTS</a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand nav-text" href="#">Filter by:</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ">
                <li class="nav-item dropdown borderFilter">
                    <a class="nav-link dropdown-toggle mx-auto" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#"
                         *ngFor="let item of category"
                         (click) = "getCategory(item.categoryId)"
                         >{{item.categoryName}}</a></li>
                    </ul>
                </li>
            </ul>
            <hr class="mg-l mg-r">
            <a class="navbar-brand nav-text" href="#">Sort by:</a>
            <ul class="navbar-nav">
              <li class="nav-item" (click)="getFilter(1)">
                <button class="btn btn-success sortButton">Most Recent</button>
              </li>
              <li class="nav-item btnBox" (click)="getFilter(2)">
                <button class="btn btnBox">Lowest Price</button>
              </li>
              <li class="nav-item ">
                <button class="btn btnBox " (click)="getFilter(3)">Highest Price</button>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    
</div>

